<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Photo Gallery</title>
    </head>
    <body>
        <h1>  Photo Gallery</h1>
        <div class="container1">
            <div class="container2">
                    <img src="\..\..\assets\1.PNG" alt="image 1" class="img" class="img1">
                    <img src="\..\..\assets\2.PNG" alt="image 2" class="img" class="img2">
                    <img src="\..\..\assets\3.PNG" alt="image 3" class="img" class="img3">
                    <img src="\..\..\assets\4.PNG" alt="image 4" class="img" class="img4">
                    <img src="\..\..\assets\5.PNG" alt="image 5" class="img" class="img5">
                    <img src="\..\..\assets\6.PNG" alt="image 6" class="img" class="img6">
            </div>
        </div>
    </body>
</html>